@model HomeIndexViewModel
@{ 
    HomeIndexViewModel homeViewModel = Model;
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="slider_area">
    <div class="single_slider slider_bg_1 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="slider_text">
                        @Html.Raw(Model.Slider.Tittle)
                        
                        @Html.Raw(Model.Slider.Description)
                        <a asp-controller="Home" asp-action="Contact" class="boxed-btn4">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dog_thumb d-none d-lg-block">
            @foreach (var sliderImage in Model.SliderImages)
            {
                <img src="img/@sliderImage.Image" alt="">
            }


        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- service_area_start  -->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-7 col-md-10">
                <div class="section_title text-center mb-95">
                    @Html.Raw(Model.Services.Tittle)
                    @Html.Raw(Model.Services.Description)
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                        <div class="service_icon">
                            <img src="img/@Model.ServiceBoxes.Image" alt="">
                        </div>
                    </div>
                    <div class="service_content text-center">
                        @Html.Raw(Model.ServiceBoxes.Tittle)
                        @Html.Raw(Model.ServiceBoxes.Description)
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service active">
                    <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                        <div class="service_icon">
                            <img src="img/@Model.ServiceBoxes2.Image" alt="">
                        </div>
                    </div>
                    <div class="service_content text-center">
                        @Html.Raw(Model.ServiceBoxes2.Tittle)
                        @Html.Raw(Model.ServiceBoxes2.Description)
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb service_icon_bg_1 d-flex align-items-center justify-content-center">
                        <div class="service_icon">
                            <img src="img/@Model.ServiceBoxes3.Image" alt="">
                        </div>
                    </div>
                    <div class="service_content text-center">
                        @Html.Raw(Model.ServiceBoxes3.Tittle)
                        @Html.Raw(Model.ServiceBoxes3.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->
<!-- pet_care_area_start  -->
<div class="pet_care_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="pet_thumb">
                    @foreach (var aboutImages in Model.AboutImages)
                    {
                        <img src="img/@aboutImages.Image" alt="">
                    }

                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="pet_info">
                    <div class="section_title">
                        <h3>
                            @Html.Raw(Model.Abouts.Tittle)
                        </h3>
                       @Html.Raw(Model.Abouts.Description)
                        <a asp-controller="Home" asp-action="About" class="boxed-btn3">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pet_care_area_end  -->
<!-- adapt_area_start  -->
<div class="adapt_area">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5">
                <div class="adapt_help">
                    <div class="section_title">
                        <h3>
                            @Html.Raw(Model.Adopts.Tittle)
                        </h3>
                        @Html.Raw(Model.Adopts.Description)
                        <a asp-controller="Home" asp-action="Contact" class="boxed-btn3">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="adapt_about">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_adapt text-center">
                                <img src="img/adapt_icon/1.png" alt="">
                                <div class="adapt_content">
                                    <h3 class="counter">452</h3>
                                    <p>Others Available</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_adapt text-center">
                                <img src="img/adapt_icon/3.png" alt="">
                                <div class="adapt_content">
                                    <h3><span class="counter">52</span>+</h3>
                                    <p>Dog Available</p>
                                </div>
                            </div>
                            <div class="single_adapt text-center">
                                <img src="img/adapt_icon/2.png" alt="">
                                <div class="adapt_content">
                                    <h3><span class="counter">52</span>+</h3>
                                    <p>Cat Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- adapt_area_end  -->
<!-- testmonial_area_start  -->
<div class="testmonial_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="textmonial_active owl-carousel">
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                           
                            <div class="test_thumb">

                                <img src="img/@Model.Comments.Image" alt="">
                            </div>
                            <div class="test_content">
                                @Html.Raw(Model.Comments.Name)
                                @Html.Raw(Model.Comments.Job)
                                @Html.Raw(Model.Comments.Description)
                            </div>
                        </div>
                    </div>
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                <img src="img/@Model.Comments.Image" alt="">
                            </div>
                            <div class="test_content">
                                @Html.Raw(Model.Comments.Name)
                                @Html.Raw(Model.Comments.Job)
                                @Html.Raw(Model.Comments.Description)
                            </div>
                        </div>
                    </div>
                    <div class="testmonial_wrap">
                        <div class="single_testmonial d-flex align-items-center">
                            <div class="test_thumb">
                                <img src="img/@Model.Comments.Image" alt="">
                            </div>
                            <div class="test_content">
                                @Html.Raw(Model.Comments.Name)
                                @Html.Raw(Model.Comments.Job)
                                @Html.Raw(Model.Comments.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- testmonial_area_end  -->
<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-95">
                    @Html.Raw(Model.OurTeams.Tittle)
                    @Html.Raw(Model.OurTeams.Description)
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="img/@Model.OurTeamImage1.Image" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            @Html.Raw(Model.OurTeamImage1.Name)
                            @Html.Raw(Model.OurTeamImage1.Job)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="img/@Model.OurTeamImage2.Image" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            @Html.Raw(Model.OurTeamImage2.Name)
                            @Html.Raw(Model.OurTeamImage2.Job)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team">
                    <div class="thumb">
                        <img src="img/@Model.OurTeamImage3.Image" alt="">
                    </div>
                    <div class="member_name text-center">
                        <div class="mamber_inner">
                            @Html.Raw(Model.OurTeamImage3.Name)
                            @Html.Raw(Model.OurTeamImage3.Job)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_start  -->

<div class="contact_anipat anipat_bg_1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact_text text-center">
                    <div class="section_title text-center">
                        @Html.Raw(Model.Pats.Tittle)
                        @Html.Raw(Model.Pats.Description)
                    </div>
                    <div class="contact_btn d-flex align-items-center justify-content-center">
                        @Html.Raw(Model.Pats.Button)
                        <p>Or  @Html.Raw(Model.Pats.Number)
</div>
                </div>
            </div>
        </div>
    </div>
</div>

